.box{
    width: 800px;
    height: 150px;
    background-color: rgb(127, 60, 239);
    border-radius: 40px;
    margin: 0 auto;
}

#text{
    font-size: 25px;
    color: rgb(170, 200, 200);
    text-align: center;
}

#text2{
    font-size: 20px;
    color: rgb(200, 200, 200);
    text-align: center;
}

#text3{
    text-align: center;
}